
.fl-productservice-banner {
    width:100%;
    height: 563px;
    background:#ccc;
}

.fl-productservice-bannerinner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #ccc;
    padding-top: 60px;
}

/* 旋转动画 */
.section3 {
    width: 607px;
    height: 395px;
    margin: 0 auto;
    background: url("http://www.taivei.com/error.html")/*tpa=http://www.twterminal.com/img/banner1.jpg*/ 0 0 no-repeat;
}

.section3 .base {
    -webkit-transform: rotateX(65deg) rotateY(-4deg);
    -moz-transform: rotateX(65deg) rotateY(-4deg);
    -o-transform: rotateX(65deg) rotateY(-4deg);
    -ms-transform: rotateX(65deg) rotateY(-4deg);
    transform: rotateX(65deg) rotateY(-4deg);
    position: relative;
    width: 360px;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: -124px;
    left: -155px;
    background: blue;
    border-radius: 180px 180px;
}

.section3 .ui_base {
    position: relative;
    top: 90px;
    left: 280px;
    width: 400px;
    height: 0px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 0%;
    -moz-perspective-origin: 50% 0%;
    -o-perspective-origin: 50% 0%;
    -ms-perspective-origin: 50% 0%;
    perspective-origin: 50% 0%
}

.section3 .ball {
    -webkit-transition: all 2s ease-out 0ms;
    -o-transition: all 2s ease-out 0ms;
    -moz-transition: all 2s ease-out 0ms;
    -ms-transition: all 2s ease-out 0ms;
    transition: all 2s ease-out 0ms;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transform:  rotateX(87deg) rotateY(107deg)
}


.section3 .base {
    -webkit-animation: cir 28s linear 0s infinite;
    -o-animation: cir 28s linear 0s infinite;
    -ms-animation: cir 28s linear 0s infinite;
    -mozanimation: cir 28s linear 0s infinite;
    animation: cir 28s linear 0s infinite
}


@keyframes cir {
    0% {
        transform:  rotateX(65deg) rotateY(-4deg) rotateZ(0deg)
    }
    100% {
        transform:  rotateX(65deg) rotateY(-4deg) rotateZ(-360deg)
    }
}

@-webkit-keyframes cir {
    0% {
        -webkit-transform: r rotateX(65deg) rotateY(-4deg) rotateZ(0deg)
    }
    100% {
        -webkit-transform:  rotateX(65deg) rotateY(-4deg) rotateZ(-360deg)
    }
}

/* 旋转动画 */

.bannerwrap{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 483px;
}
.bannerwrap .slideritem{
    width: 100%;
    height: 100%;
    position: relative;
}
.bannerwrap .slideritem li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.bannerwrap .slideritem li .liinner{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.bannerwrap .slidernum{
    height: 16px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bannerwrap .slidernum li{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 6px;
    background: url("../image/ibnum.png")/*tpa=http://www.twterminal.com/img/ibnum.png*/ no-repeat center center;
    cursor: pointer;
}
.bannerwrap .slidernum li.on{
    background: url("../image/ibnumon.png")/*tpa=http://www.twterminal.com/img/ibnumon.png*/ no-repeat center center;
}

.bannerwrap .slideritem li.li0{
    background: url("../image/indexbanner1.png")/*tpa=http://www.twterminal.com/img/indexbanner1.png*/ no-repeat center center;
}

.bannerwrap.market .slideritem li.li0{
    background: url("../image/banner1.png")/*tpa=http://www.twterminal.com/img/banner1.png*/ no-repeat center center #130E32;
}

.bannerwrap.quickcharge .slideritem li.li0{
    background: url("../image/banner2.png")/*tpa=http://www.twterminal.com/img/banner2.png*/ no-repeat center center #130E32;
}

.bannerwrap.recharge .slideritem li.li0{
    background: url("../image/banner3.png")/*tpa=http://www.twterminal.com/img/banner3.png*/ no-repeat center center #130E32;
}

.bannerwrap.playwith .slideritem li.li0{
    background: url("../image/banner4.png")/*tpa=http://www.twterminal.com/img/banner4.png*/ no-repeat center center #130E32;
}

.bannerwrap.gameleveling .slideritem li.li0{
    background: url("../image/banner5.png")/*tpa=http://www.twterminal.com/img/banner5.png*/ no-repeat center center #130E32;
}

.bannerwrap.rent .slideritem li.li0{
    background: url("../image/banner6.png")/*tpa=http://www.twterminal.com/img/banner6.png*/ no-repeat center center #130E32;
}

.bannerwrap.H5 .slideritem li.li0{
    background: url("../image/banner7.png")/*tpa=http://www.twterminal.com/img/banner7.png*/ no-repeat center center #130E32;
}

.bannerwrap .slideritem li.li1{

}
.bannerwrap .slideritem li.li2{

}
.bannerwrap .slideritem li.li3{

}
.bannerwrap .slideritem li.li0 .liinner .bannertxt{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 60px;
    left: 0;
    -webkit-animation: bannerli0 0.8s ease-in-out 0.4s backwards;
	-moz-animation: bannerli0 0.8s ease-in-out 0.4s backwards;
	animation: bannerli0 0.8s ease-in-out 0.4s backwards;
}
@-webkit-keyframes bannerli0 {
	0% {
		top: 10px;
		opacity: 0;
	}
	100% {
		top: 60px;
		opacity: 1;
	}
}

@-moz-keyframes bannerli0 {
	0% {
		left: 150px;
		opacity: 0;
	}
	100% {
		left: 200px;
		opacity: 1;
	}
}
.bannerwrap .slideritem li.li0 .liinner .bannertxt h2{
    color: #fff;
    font-size: 48px;
    line-height: 72px;
}
.bannerwrap .slideritem li.li0 .liinner .bannertxt p{
    /* color: #79797a; */
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    line-height: 50px;
    padding-bottom: 30px;
}
.bannerwrap .slideritem li.li0 .liinner .bannertxt a{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #336aff;
    font-size: 20px;
}

.bannerwrap .slideritem li.li0 .liinner .bannertxt a:hover {
    background: #2954CC;
}

.fl-productservice-container {
    width:100%;
    background: #fff;
}

.fl-productservice-view {
    width:100%;
    height: 600px;
}

.fl-productservice-view02 {
    background: #FAFAFC;
}

.fl-productservice-viewinner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.fl-productservice-picbox {
    width: 780px;
    height: 585px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* opacity: 0; */
}

.fl-productservice-picbox img {
    margin: 0 -50px;
}

.fl-productservice-descbox .fl-productservice-imgbox {
    width:435px;
}

.fl-productservice-descbox img.number1 {
    position: absolute;
    top: 200px;
    left: 7px;
}

.fl-productservice-descbox img.number2 {
    position: absolute;
    top: 200px;
    left: 58px;
}

.fl-productservice-descbox img.number3 {
    position: absolute;
    top: 160px;
    left: 7px;
}


.fl-productservice-descbox {
    width: 435px;;
    height: 200px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.fl-productservice-descbox .title{
    position: absolute;
    top: 261px;
    left: 6px;
    font-size: 36px;
    color: #336AFF;
    line-height: 54px;
    text-align: left;
}

.fl-productservice-descbox .desc{
    position: absolute;
    top: 343px;
    left: 6px;
    font-size: 18px;
    color: #333333;
    text-align: justify;
    line-height: 30px;
}

.fl-productservice-view02 .fl-productservice-descbox {
    padding: 0 50px;
}

.fl-productservice-view02 .fl-productservice-descbox .title{
    top: 262px;
    left: 56px;
}

.fl-productservice-view02 .fl-productservice-descbox .desc{
    top: 343px;
    left: 56px;
    width: 435px;
}

.fl-productservice-view03 .fl-productservice-descbox .title{
    top: 232px;
    left: 10px;
}

.fl-productservice-view03 .fl-productservice-descbox .desc{
    top: 370px;
    left: 10px;
}

.fl-productservice-consult {
    width: 100%;
    height: 236px;;
    background: url("../image/zxbg.png")/*tpa=http://www.twterminal.com/img/zxbg.png*/ no-repeat center center #4476FF;
}

.fl-productservice-consultinner {
    width: 1200px;
    height: 176px;;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
}

.fl-productservice-consultcontent {
    font: 28px "微软雅黑";
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    margin-bottom: 30px;
}

.fl-productservice-consultbtn {
    display: inline-block;
    width: 200px;
    height: 50px;
    font: 24px "微软雅黑";
    line-height: 50px;
    color: #336AFF;
    letter-spacing: 2px;
    background: #FFFFFF;
    cursor: pointer;
}

a.fl-productservice-consultbtn:link , a.fl-productservice-consultbtn:active ,a.fl-productservice-consultbt:visited {
    color: #336AFF;
}

.fl-productservice-consultbtn:hover {
    color: #336AFF;
}